<html>
	<head>
		<title>main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
<body>
<div class="header">
  <h1>Flood Prediction</h1>
</div>


<div id="navbar">
    <a class="material-icons" style="font-size:23px" href="/index">&#xe88a;</a>
  <a href="/aboutafterlogin" title="about">About</a>
      <div class="topnav-right">
        <a href="/user_login" title="signin">Login</a>
        <a href="/user_register" title="signup">Signup</a>
          <a href="/help" title="contact us">&#9742</a>
      </div>
</div>

<b><p style="text-align:center; font-size:30px" >FLOODS AND DISASTER HELPLINE NUMBER</p></b>

<table class="center">
  <tr>
    <td class="left">National Disaster Response Force</td>
    <td>9711077372, 011-24363260</td>
  </tr>
  <tr>
    <td class="left">Police</td>
    <td>100</td>
  </tr>
  <tr>
    <td class="left">Fire</td>
    <td>101</td>

  </tr>
  <tr>
    <td class="left">Ambulance</td>
    <td>102</td>

  </tr>
  <tr>
    <td class="left">Uttrakhand</td>
    <td>1070, 9557444486</td>

  </tr>
  <tr>
    <td class="left">Mumbai</td>
    <td>1916, 108</td>
  </tr>
  <tr>
    <td class="left">Gujarat</td>
    <td>1078, 079-23276944, 1077</td>
  </tr>
  <tr>
    <td class="left">Vadodara</td>
    <td>18002330265 ,0265-2423101 ,0265-2426101</td>
  </tr>
  <tr>
    <td class="left">Assam,Kerala</td>
    <td>1070, 0361-2237219</td>
  </tr>
  <tr>
    <td class="left">Rajasthan, Odisha, Chennai, Bihar</td>
    <td>1078</td>
  </tr>
    <tr>
    <td class="left">Karnataka</td>
    <td>080-1070 , 080-22340676</td>
  </tr>
    <tr>
    <td class="left">Delhi</td>
    <td>011-24611210, 24611108</td>
  </tr>
    <tr>
    <td class="left">Hyderabad/Telangana</td>
    <td>9000113667, 8333068536, 211111111</td>
  </tr>
</table>



<script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
</body>
</html>