<html>
	<head>
		<title>main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
<body>
<div class="header">
  <h1>Flood Prediction</h1>
</div>


<div id="navbar">
    <a class="material-icons" style="font-size:23px" href="/home">&#xe88a;</a>
    <a href="/about" title="about">About</a>
      <div class="topnav-right">
        <a href="/user_login" title="signin">Login</a>
          <a href="/user_register" title="signup">Signup</a>
          <a href="/help" title="contact us">&#9742</a>
    </div>
</div>

<p><b><center>
        FLOODS AND DISASTER HELPLINE
        In Flood situation call : 112 , 100 , 1078
        NDRF HELPLINE : 9711077372 , 011-24363260</center>
        <br><br><br>
        1.  Flood control room numbers:
        <br>&nbsp &nbsp Assam Flood Helpline  : 1077 , 1070 , 1079
        <br>   &nbsp &nbsp 0361-2237219 ,9401044617
        <br><br> &nbsp &nbsp a) Uttrakhand Flood Helpline : 1070 or 9557444486
        <br><br>&nbsp &nbsp  b) Mumbai - 1916 , 108
        <br><br> &nbsp &nbsp c) Gujarat : 1078, 079-23276944, 1077 ,
        <br>  &nbsp &nbsp Vadodara : 18002330265 , 0265-2423101 , 0265-2426101
        <br><br>&nbsp &nbsp d) Assam : 1077 , 1070 , 0361-2237219
        <br><br>&nbsp &nbsp e) Rajasthan : 1078
        <br><br>&nbsp &nbsp f) Odisha : 1078
        <br><br>&nbsp &nbsp g) Delhi 011-24611210 , 24611108,
        <br><br>&nbsp &nbsp h) Kerala : 1070 , 1077
        <br><br>&nbsp &nbsp i) Karnataka : 080-1070 , 080-22340676
        <br>&nbsp &nbsp whatsapp : 9008405955
        <br><br>&nbsp &nbsp j) Chennai Helpline number: 1078
        <br>&nbsp &nbsp Chennai city: 1070 Districts: 1077
        <br>&nbsp &nbsp Chennai Corporation: 1913 and 044-4567 4567
        <br><br>&nbsp &nbsp k) BIHAR FLOOD HELPLINE :
        <br>
        &nbsp &nbsp HELPLINE  : 1078
      <br>&nbsp &nbsp
      TOLL FREE : 18002456145
      <br>&nbsp &nbsp
      N.D.R.F : 8541908006
      <br>&nbsp &nbsp
      S.D.R.F : 9801598289
      <br>&nbsp &nbsp
      OTHER IMPORTANT NUMBERS : POLICE : 100
      <br>&nbsp &nbsp
      STATE DISTRICT ADMINISTRATION : 0612-2219810 , 2294204
      <br>&nbsp &nbsp
      PATNA MUNIPICAL CORPORATION : 18003456644
      <br><br>&nbsp &nbsp
        l) Hyderabad / Telangana Flood helpline
     <br>&nbsp &nbsp
         For any emergency Dial 100 / 112
         <br>&nbsp &nbsp
         Toll Free Number for Emergency Services: 211111111 <br>
         &nbsp &nbsp GHMC Disaster Dept Emergency: 9000113667<br>

         &nbsp &nbsp GHMC tree cutting: 6309062583<br>&nbsp &nbsp

         GHMC ( water loging ): 9000113667<br>&nbsp &nbsp

         NDRF : 8333068536<br>&nbsp &nbsp

         MCH Disaster helpline : 97046018166 <br></b>
    </p>


<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
	
</body>
</html>