<html>
	<head>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Flood Prediction</title>
	</head>
    <style>
        body {

    font-family: Arial, Helvetica, sans-serif;
}
.form {
    background-color: white;
    width: 70vw;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}

.button {
    padding: 5px 30px;
    font-size: 18px;
}

.center-btn{
text-align:center;
}
    </style>
<body>
    <div class="header" style="background-image: url(static/2.jpg); background-size:cover;background-size: 1550px 200px;background-repeat: no-repeat; height: 140px;">
        <h1 style="color:white"><b>Flood Prediction</b></h1> <img class="logo" src="{{ url_for('static', filename='7.png')}}"  style="height:200px; width:250px;">
      
      </div>
      <br>

      <div id="navbar">
        <a class="material-icons" style="font-size:23px" href="/index">&#xe88a;</a>
      <a href="/aboutafterlogin" title="about">About</a>
        <a href="/rainfall_analysis_predict"title="Rainfall prediction">Rainfall Analysis</a>
      <a href="/predict"title="Predict">Flood Prediction</a>
          <div class="topnav-right">
            <a href="/logout" title="Logout">Logout</a>
            <a class="material-icons" style="font-size:23px" href="/user_account">&#xe7ff;</a>
              <a href="/helpafterlogin" title="contact us">&#9742</a>
          </div>
    </div>

<!--<form method="POST" action="#">-->

<!--    <label for="subdivision">Choose a Subdivision:</label>-->
<!--  <select name="subdivision" id="subdivision" required>-->
<!--      <option value="">Choose a Subdivision</option>-->
<!--      <option value='ANDAMAN & NICOBAR ISLANDS'>ANDAMAN & NICOBAR ISLANDS</option>-->
<!-- <option value='ARUNACHAL PRADESH'>ARUNACHAL PRADESH</option>-->
<!-- <option value='ASSAM & MEGHALAYA'>ASSAM & MEGHALAYA</option>-->
<!--<option value='BIHAR'>BIHAR</option>-->
<!-- <option value='CHHATTISGARH'>CHHATTISGARH</option>-->
<!-- <option value='COASTAL ANDHRA PRADESH'>COASTAL ANDHRA PRADESH</option>-->
<!-- <option value='COASTAL KARNATAKA'>COASTAL KARNATAKA</option>-->
<!--      <option value='EAST MADHYA PRADESH'>EAST MADHYA PRADESH</option>-->
<!--<option value= 'EAST RAJASTHAN'>EAST RAJASTHAN</option>-->
<!-- <option value='EAST UTTAR PRADESH'>EAST UTTAR PRADESH</option>-->
<!-- <option value='GANGETIC WEST BENGAL'>GANGETIC WEST BENGAL</option>-->
<!-- <option value='GUJARAT REGION'>GUJARAT REGION</option>-->
<!-- <option value='HARYANA DELHI & CHANDIGARH'>HARYANA DELHI & CHANDIGARH</option>-->
<!-- <option value='HIMACHAL PRADESH'>HIMACHAL PRADESH</option>-->
<!-- <option value='JAMMU & KASHMIR'>JAMMU & KASHMIR</option>-->
<!-- <option value='JHARKHAND'>JHARKHAND</option>-->
<!-- <option value='KERALA'>KERALA</option>-->
<!-- <option value='KONKAN & GOA'>KONKAN & GOA</option>-->
<!-- <option value='LAKSHADWEEP'>LAKSHADWEEP</option>-->
<!-- <option value='MADHYA MAHARASHTRA'>MADHYA MAHARASHTRA</option>-->
<!-- <option value='MATATHWADA'>MATATHWADA</option>-->
<!-- <option value='NAGA MANI MIZO TRIPURA'>NAGA MANI MIZO TRIPURA</option>-->
<!-- <option value='NORTH INTERIOR KARNATAKA'>NORTH INTERIOR KARNATAKA</option>-->
<!-- <option value='ORISSA'>ORISSA</option>-->
<!-- <option value='PUNJAB'>PUNJAB</option>-->
<!-- <option value='RAYALSEEMA'>RAYALSEEMA</option>-->
<!-- <option value='SAURASHTRA & KUTCH'>SAURASHTRA & KUTCH</option>-->
<!-- <option value='SOUTH INTERIOR KARNATAKA'>SOUTH INTERIOR KARNATAKA</option>-->
<!-- <option value='SUB HIMALAYAN WEST BENGAL & SIKKIM'>SUB HIMALAYAN WEST BENGAL & SIKKIM</option>-->
<!-- <option value='TAMIL NADU'>TAMIL NADU</option>-->
<!-- <option value='TELANGANA'>TELANGANA</option>-->
<!-- <option value='UTTARAKHAND'>UTTARAKHAND</option>-->
<!-- <option value='VIDARBHA'>VIDARBHA</option>-->
<!-- <option value='WEST MADHYA PRADESH'>WEST MADHYA PRADESH</option>-->
<!-- <option value='WEST RAJASTHAN'>WEST RAJASTHAN</option>-->
<!-- <option value='WEST UTTAR PRADESH'>WEST UTTAR PRADESH</option>-->
<!--  </select>-->
<!--    <br><br>-->
<!--    <p>enter in mm</p>-->
<!--  <label for="jan">Jan:</label>-->
<!--  <input type="text" id="jan" name="jan" value="0"><br>-->
<!--    <label for="feb">Feb:  </label>-->
<!--  <input type="text" id="feb" name="feb" value="0"><br>-->
<!--    <label for="Mar">Mar:  </label>-->
<!--  <input type="text" id="Mar" name="Mar" value="0"><br>-->
<!--    <label for="Apr">Apr:</label>-->
<!--  <input type="text" id="Apr" name="Apr" value="0"><br>-->
<!--    <label for="May">May:</label>-->
<!--  <input type="text" id="May" name="May" value="0"><br>-->
<!--    <label for="Jun">Jun:</label>-->
<!--  <input type="text" id="Jun" name="Jun" value="0"><br>-->
<!--    <label for="Jul">Jul:</label>-->
<!--  <input type="text" id="Jul" name="Jul" value="0"><br>-->
<!--    <label for="Aug">Aug:</label>-->
<!--  <input type="text" id="Aug" name="Aug" value="0"><br>-->
<!--    <label for="Sep">Sep:</label>-->
<!--  <input type="text" id="Sep" name="Sep" value="0"><br>-->
<!--    <label for="Oct">Oct:</label>-->
<!--  <input type="text" id="Oct" name="Oct" value="0"><br>-->
<!--    <label for="Nov">Nov:</label>-->
<!--  <input type="text" id="Nov" name="Nov" value="0"><br>-->
<!--    <label for="Dec">Dec:</label>-->
<!--  <input type="text" id="Dec" name="Dec" value="0"><br>-->


<!--    <br>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<section id="prediction-form">
        <form class="form" action="#", method="POST">
            <h1 class="my-3 text-center">Flood Predictor</h1>
        <br>
        <select class="form-control" name="subdivision" id="subdivision" required>
      <option value="">Choose a Subdivision</option>
      <option value='ANDAMAN & NICOBAR ISLANDS'>ANDAMAN & NICOBAR ISLANDS</option>
 <option value='ARUNACHAL PRADESH'>ARUNACHAL PRADESH</option>
 <option value='ASSAM & MEGHALAYA'>ASSAM & MEGHALAYA</option>
<option value='BIHAR'>BIHAR</option>
 <option value='CHHATTISGARH'>CHHATTISGARH</option>
 <option value='COASTAL ANDHRA PRADESH'>COASTAL ANDHRA PRADESH</option>
 <option value='COASTAL KARNATAKA'>COASTAL KARNATAKA</option>
      <option value='EAST MADHYA PRADESH'>EAST MADHYA PRADESH</option>
<option value= 'EAST RAJASTHAN'>EAST RAJASTHAN</option>
 <option value='EAST UTTAR PRADESH'>EAST UTTAR PRADESH</option>
 <option value='GANGETIC WEST BENGAL'>GANGETIC WEST BENGAL</option>
 <option value='GUJARAT REGION'>GUJARAT REGION</option>
 <option value='HARYANA DELHI & CHANDIGARH'>HARYANA DELHI & CHANDIGARH</option>
 <option value='HIMACHAL PRADESH'>HIMACHAL PRADESH</option>
 <option value='JAMMU & KASHMIR'>JAMMU & KASHMIR</option>
 <option value='JHARKHAND'>JHARKHAND</option>
 <option value='KERALA'>KERALA</option>
 <option value='KONKAN & GOA'>KONKAN & GOA</option>
 <option value='LAKSHADWEEP'>LAKSHADWEEP</option>
 <option value='MADHYA MAHARASHTRA'>MADHYA MAHARASHTRA</option>
 <option value='MATATHWADA'>MATATHWADA</option>
 <option value='NAGA MANI MIZO TRIPURA'>NAGA MANI MIZO TRIPURA</option>
 <option value='NORTH INTERIOR KARNATAKA'>NORTH INTERIOR KARNATAKA</option>
 <option value='ORISSA'>ORISSA</option>
 <option value='PUNJAB'>PUNJAB</option>
 <option value='RAYALSEEMA'>RAYALSEEMA</option>
 <option value='SAURASHTRA & KUTCH'>SAURASHTRA & KUTCH</option>
 <option value='SOUTH INTERIOR KARNATAKA'>SOUTH INTERIOR KARNATAKA</option>
 <option value='SUB HIMALAYAN WEST BENGAL & SIKKIM'>SUB HIMALAYAN WEST BENGAL & SIKKIM</option>
 <option value='TAMIL NADU'>TAMIL NADU</option>
 <option value='TELANGANA'>TELANGANA</option>
 <option value='UTTARAKHAND'>UTTARAKHAND</option>
 <option value='VIDARBHA'>VIDARBHA</option>
 <option value='WEST MADHYA PRADESH'>WEST MADHYA PRADESH</option>
 <option value='WEST RAJASTHAN'>WEST RAJASTHAN</option>
 <option value='WEST UTTAR PRADESH'>WEST UTTAR PRADESH</option>
  </select><br>
            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="jan">January</label><br>
                        <input class="form-control" type="text" id="jan" name="jan" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="feb">February</label>
                        <input class="form-control" type="text" id="feb" name="feb" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Mar">March</label>
                        <input class="form-control" type="text" id="Mar" name="Mar" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Apr">April</label>
                        <input class="form-control" type="text" id="Apr" name="Apr" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="May">May</label>
                      <input class="form-control" type="text" id="May" name="May" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Jun">June</label>
                        <input type="text" id="Jun" name="Jun" class="form-control" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Jul">July</label>
                        <input type="text" id="Jul" name="Jul" value="0" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Aug">August</label>
                        <input type="text" class="form-control" id="Aug" name="Aug" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Sep">September</label>
                        <input type="text" id="Sep" name="Sep" class="form-control" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="humidity9am" class="humidity9am">Humidity 9am</label>
                        <input type="text" class="form-control" id="humidity9am" name="humidity9am">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Oct">October</label>
                        <input type="text" id="Oct" class="form-control" name="Oct" value="0">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Nov">Nov:</label>
                         <input type="text" class="form-control" id="Nov" name="Nov" value="0">
                        </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Dec">Dec:</label>
                        <input class="form-control" type="text" id="Dec" name="Dec" value="0"><br><br>
                    </div>
                </div>
              <br><br>
                <div class="center-btn">
                  <button type="submit" value="Submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </section>

<script>
  window.onscroll = function() {myFunction()};
  
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>