<html>
	<head>
		<title>main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
          .bor{
  margin-left: 450px;
          }
          .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
        </style>
	</head>
<body>
<div class="header">
  <h1>Flood Prediction</h1>
</div>


<div id="navbar">
	<a class="material-icons" style="font-size:23px" href="/index">&#xe88a;</a>
    <a href="/aboutafterlogin" title="about">About</a>
    <a href="/predict.html"title="Predict">Flood Prediction</a>
    <a href="/rainfall_predict"title="Rainfall prediction">Rainfall Prediction</a>  
      <div class="topnav-right">
        <a href="/logout" title="Logout">Logout</a>
        <a class="material-icons" style="font-size:23px" href="/user_account">&#xe7ff;</a>
          <a href="/helpafterlogin" title="contact us">&#9742</a>
      </div>
</div>


</body>
	<br><div class="bor" style="height:450px;width:600px;border:solid 2px rgb(13, 13, 13);">
  <center> <i class="material-icons" style="font-size:80px">account_circle</i></center><br><br>
   &nbsp &nbsp  NAME: <div class="form-field">
    <input value={{details['name']}}>
  </div>
   &nbsp &nbsp AGE: <div class="form-field">
    <input value={{details['age']}}>
  </div>
   &nbsp &nbsp GENDER: <div class="form-field">
    <input value={{details['gender']}}>
  </div>
   &nbsp &nbsp Email: <div class="form-field">
    <input value={{details['email']}}>
  </div>

</div>


    <script>
      window.onscroll = function() {myFunction()};
      
      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;
      
      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
      </script>
</body>
</html>