<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>main</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        body {
    font-family: Arial, Helvetica, sans-serif;
}
.form {
    background-color: white;
    width: 50vw;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}
td{
width:50%;}


        </style>
	</head>

  <div class="header" style="background-image: url(static/2.jpg); background-size:cover;background-size: 100% 200px;background-repeat: no-repeat; height: 140px;">
    <h1 style="color:white"><b>Flood Prediction</b></h1> <img class="logo" src="{{ url_for('static', filename='7.png')}}"  style="height:200px; width:250px;">
  
  </div>


  <div id="navbar">
    <a class="material-icons" style="font-size:23px" href="/index">&#xe88a;</a>
  <a href="/aboutafterlogin" title="about">About</a>
    <a href="/rainfall_analysis_predict"title="Rainfall prediction">Rainfall Analysis</a>
  <a href="/rainfall_predict"title="Predict">Rainfall Prediction</a>
      <a href="/predict"title="Predict">Flood Prediction</a>
      <div class="topnav-right">
        <a href="/logout" title="Logout">Logout</a>
        <a class="material-icons" style="font-size:23px" href="/user_account">&#xe7ff;</a>
          <a href="/helpafterlogin" title="contact us">&#9742</a>
      </div>
</div>

<body style="background-image: url(static/cloud.jpg);background-repeat: no-repeat;">

    <br>
<section id="prediction-form" class="form">
    <br>
    <div style="text-align:center;">
    <i style="font-size:80px;" class="fa">&#xf2bd;</i>
    </div>
    <br>
  <table class="center">
  <tr>
    <td class="left">Name</td>
    <td>{{details['name']}}</td>
  </tr>
  <tr>
    <td class="left">Age</td>
    <td>{{details['age']}}</td>
  </tr>
  <tr>
    <td class="left">Gender</td>
    <td>{{details['gender']}}</td>

  </tr>
  <tr>
    <td class="left">Email</td>
    <td>{{details['email']}}</td>
</table>
</body>
</section>


    <script>
      window.onscroll = function() {myFunction()};
      
      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;
      
      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
      </script>
</body>
</html>